# Last Modified: Wed Jun  8 12:14:07 2022
#include <tunables/global>

# vim:syntax=apparmor
# AppArmor policy for zabbix_agentd
# ###AUTHOR###
# ###{{ ansible_managed }}:  LOCAL CHANGES WILL BE OVERWRITTEN
# ###Last run from:  {{ template_host }}
# ###Template Path:  {{ template_path }}
# ###COPYRIGHT###
# ###COMMENT###
# No template variables specified


/usr/sbin/zabbix_agentd flags=(complain) {
  #include <abstractions/apache2-common>
  #include <abstractions/base>
  #include <abstractions/openssl>

  /etc/zabbix/*/ r,
  /etc/zabbix/zabbix_agentd.conf r,
  /etc/zabbix/zabbix_agentd.d/* r,
  /lib/x86_64-linux-gnu/ld-*.so mr,
  /proc/ r,
  /proc/*/* r,
  /proc/*/net/dev r,
  /proc/cmdline r,
  /proc/loadavg r,
  /proc/sys/fs/file-max r,
  /proc/sys/kernel/pid_max r,
  /proc/version r,
  /sys/devices/** r,
  /usr/bin/dash Cx,
  /usr/bin/wc mrix,
  /usr/bin/who mrix,
  owner /proc/*/task/** r,
  owner /run/zabbix/* wk,
  owner /var/log/zabbix-agent/* rw,
  owner /var/log/zabbix/* rw,


  profile /usr/bin/dash flags=(complain) {
    #include <abstractions/base>

    network inet stream,

    /etc/ld.so.cache r,
    /usr/bin/dash mr,

  }
}
